.container {
  /* flex options */
  display: flex; 
  flex-direction: column;  

  text-align: left;
}

.item {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

article {
  margin-bottom: 1.5rem;
}