.item-a {
    grid-area: header;
}
.item-b {
    grid-area: main;
}
.item-c {
    grid-area: sidebar;
}
.item-d {
    grid-area: footer;
}

.interests-container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;

    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}