.shirt-size-container {
    display: flex; 
    flex-direction: column;  
}

.shirt-size-margin-bottom {
    margin-bottom: .75rem ;    
}

.shirt-size-dropdown {
    width: 130px;
    vertical-align: top;
    text-align: center;
    outline: none;
    text-align-last:center; 
}



