.user-info-container {
    display: flex; 
    flex-direction: column;  
}

.user-info-margin-bottom {
    margin-bottom: .75rem ;    
}

.user-info-input-number {
    width: 100px;    
    vertical-align: top;
    text-align: center;
    outline: none;
}
 


  