.user-info-container {
    display: flex; 
    flex-direction: column;  
}

.user-info-margin-bottom {
    margin-bottom: .75rem ;    
}

.user-info-input-number {
    width: 100px;    
    vertical-align: top;
    text-align: center;
    outline: none;
}
 
input {
    border: 1em solid white; 
    padding: 1em;
    background: rgba(155, 155, 155, 0.1);
    margin: 0 0 1em 0;
    max-width: 500px;
    border: 0.1em solid rgba(155, 155, 155, 0.774);
    border-radius: 0.5em;
    Font-Family: 'Signika', Sans-Serif;
}
  
input:focus {
    outline: 0;
}

